.poke-card {
  text-align: center;
  padding: 16px;
  width: 8rem;
  height: 10rem;
  background-color: blue;
  border-radius: 80px;
  margin-top: 5px;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.poke-next-url {
  margin-right: 5px;
  margin-left: 5px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: green;
}
